//////////////////////////////////////
//Layout Modules : position, display//
//////////////////////////////////////
@mixin flex-center{
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(center)
}
@mixin flex-equal{
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-items;
    @include justify-content(space-between)
}
@mixin flex-end{
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-items;
    @include justify-content(flex-end)
}
@mixin flex-start{
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-items;
    @include justify-content(flex-start)
}
%absolute{
    position: absolute
}
%relative{
    position: relative
}
%block{
    display: block
}
%hide{
    display: none
}
.hide{
    @extend %hide
}
%inline{
    display: inline
}
%inblock{
    display: inline-block
}
%flexbox{
    @include flexbox
}
.flexbox{
    @extend %flexbox
}
%centralizar{
    @include flex-center
}
%centralizar-equal{
    @include flex-equal
}
%basic-grid{
    @include basic-grid
}
%flex-center{
    @extend %centralizar
}
.flex-center{
    @extend %flex-center
}
%flex-equal{
    @extend %centralizar-equal
}
.flex-equal{
    @extend %flex-equal
}
%flex-end{
    @include flex-end;
    @include align-items(center)
}
%flex-start{
    @include flex-start;
    @include align-items(center)
}
.flex-end{
    @extend %flex-end
}
.flex-start{
    @extend %flex-start
}
//////////////////////////////////////////////////////////////////
//Box Model Modules : box-sizing, width, height, margin, padding//
//////////////////////////////////////////////////////////////////
%margin-auto{
    margin: auto
}
%box-sizing{
    @include box-sizing(border-box)
}
%w-100{
    width: 100%
}
%w-50{
    width: 50%
}
%h-100{    
    height: 100%
}
//////////////////////////////////////////////////////////////////////////////
//Visual attributes (COMPONENT priority) : background, border, box-shadow..//
//////////////////////////////////////////////////////////////////////////////
%bg-black{background: $black}
%bg-white{background: $white}
%no-border{
    border:none
}
%circle{
    @include border-radius(50%);
}
.circle{
    @extend %circle
}
%lightShadow{
    @include shadowGenerator($top:1px,$left:2px,$blur:5px,$spread:1px,$color:rgba(0,0,0,0.095));
}
%mediumShadow{
    @include shadowGenerator($top:1px,$left:2px,$blur:5px,$spread:1px,$color:rgba(0,0,0,0.2));
}
///////////////////////////////////////////////////////////////////////////////////////////////////////
//Visual attributes (ELEMENT priority) : font-size, font-family, text-align, text-transform, color..//
///////////////////////////////////////////////////////////////////////////////////////////////////////
%font{
    font-family: Tahoma,Verdana,Segoe,sans-serif 
}
%font-secondary{
    font-family: Arial,sans-serif
}
%txt-center{
    text-align: center
}
%txt-left{
    text-align: left
}
%txt-right{
    text-align: right 
}
%txt-upper{
    text-transform: uppercase
}
%txt-lower{
    text-transform: lowercase
}
%bold{
    font-weight: bold
}
%color-primary{
    color:$primary
}
%color-secondary{
    color:$secondary
}
%black{
    color:$black
}
%white{
    color: $white
}
%italic{
    font-style: italic
}
%pointer{
    cursor: pointer
}
%transition{
    transition: all .2s ease-in-out;
}